@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using Blazored.LocalStorage

@attribute [Authorize]
@rendermode InteractiveAuto

@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService _localStorageService

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <p>Token: @Token</p>
</AuthorizeView>

<blazorWpBooking.Client.Components.Calendar></blazorWpBooking.Client.Components.Calendar>

@code {

    string Token  { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Token = await _localStorageService.GetItemAsync<string>("authToken");
      
      

            StateHasChanged();
        }
    }
}