@page "/"
@inject IStringLocalizer<blazorWpBooking.Shared.Resources.SharedResource> Localizer

<PageTitle>@Localizer["Home"]</PageTitle>

<h1>@Localizer["HelloWorld"]</h1>

@Localizer["WelcomeMessage"]
